<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Hours Planner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Zachary Waldron" />
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-CF64UnUzxV691sOmqagn+TQJmesKn1fgsYmlIPqYB5nm0m32jYo3LiX1BcrbuESZ" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="css/fixes.css" rel="stylesheet" />
  <script src="scripts/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <link rel="stylesheet" href="../node_modules/fullcalendar/dist/fullcalendar.css" />
  <script src="js/app.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
  <script src="../node_modules/fullcalendar/dist/gcal.js"></script>
  <script src="../node_modules/fullcalendar/dist/fullcalendar.js"></script>
  <script src="scripts/jsonhandler.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
  <script type="text/javascript" src="../bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="js/employeepage.js"></script>
  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>
</head>
<body>
  <div class="sticky-top navigation navbar navbar-toggleable-md navbar-expand-lg navbar-dark bg-primary">
  			<a class="navbar-brand" href="./index.ejs">Gannett-Fleming</a>

  			<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">
  				&#9776;
  			</button>
  			<div class="collapse navbar-collapse justify-content-md-center navbar-toggleable-md" id="mainNavbarCollapse">
  				<ul class="nav pull-lg-right navbar-nav mr-auto">
  			<li class='nav-item dropdown'><a href='./index.ejs' class='nav-link'>Overview</a></li>
        <li class='nav-item dropdown'><a href='./login.ejs' class='login-link nav-link'>Login</a></li>
        <li class='nav-item dropdown'><a class="nav-link active nav-rotate hover" id="navbarDropdown1" data-target="#" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  				Personnel <i class="fa fa-angle-down" aria-hidden="true"></i>
  </a>
  			<ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown1">
  				<li class='nav-item dropdown-header'>Personnel</li>
  				<li class='nav-item'>
  					<a class='hover active nav-link' href='employees.ejs'>Employees</a>
  				</li>
  				<li class='nav-item'>
  					<a class='hover nav-link' href='#'>Set PMs</a>
  				</li>
  				<li class='nav-item'>
  					<a class='hover nav-link' href='#'>Set ENGs</a>
  				</li>
  				<li class='nav-item'>
  					<a class='hover nav-link' href='#'>Set INSPTs</a>
  				</li>
  				<li class='nav-item'>
  					<a class='hover nav-link' href='#'>Set ADMINs</a>
  				</li>
  				<li class='nav-item'>
  					<a class='hover nav-link' href='pto.ejs'>PTO</a>
  				</li>
  				<li class='nav-item'>
  					<a class='hover nav-link' href='ooo.ejs'>OOO</a>
  				</li>
  			</ul></li><li class='nav-item dropdown'><a class='nav-link nav-rotate' id='navbarDropdown2' data-target='#' href='/' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Projects <i class="fa fa-angle-down" aria-hidden="true"></i>
  </a>
  			<ul class='dropdown-menu bg-primary' aria-labelledby='navbarDropdown2'>
  				<li class='nav-item dropdown-header'>Projects</li>
  				<li class='nav-item'>
  					<a class='nav-link' href='#'>Enter New &#9;<i class='fa fa-cog' aria-hidden='true'></i></a>
  				</li>
  				<li class='nav-item'>
  					<a class='nav-link' href='#'>Edit Existing &#9;<i class='fa fa-pencil' aria-hidden='true'></i></a>
  				</li>
  			</ul></li></ul>
  			</div>
  		</div>
  <div class="jumbotron jumbotron-fluid text-center">
		<div class="layer">
			<img class="img-responsive hidden-xs hidden-sm" src="http://www.gannettfleming.com/images/GFLogo400x400V2.png" alt="Gannett Fleming, Inc." />
      <p>
        Weekly Planner v.2.0.1_3b
      </p>
		</div>
	</div>
  <div class="container-fluid">
    <div class="row">
        <div class="container">
        <div class="col-sm">
          <form>
            <h5>Division:</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="division-phx" id="division-phx" value="phx" checked>
            <label class="form-check-label" for="division-phx">
              PHX
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="division-lax" id="division-lax" value="lax" checked>
            <label class="form-check-label" for="division-lax">
              LAX
            </label>
          </div>
        </form>
      </div>
      <div class="col-lg">
        <small class="text-info">Employees Matching Criteria <i class="fa fa-info"></i>:</small>
        <div class="container">
        <table class="table table-striped table-bordered table-hover">
          <thead class="thead-inverse">
            <tr>
              <th colspan="4">
                <h4>Employees</h4>
              </th>
            </tr>
            <tr>
              <th>
                Name
              </th>
              <th>
                Division
              </th>
              <th>
                Role
              </th>
              <th>
                Total Hours
              </th>
            </tr>
          </thead>
          <!-- Table data here -->
          <tbody id="empTable">

          </tbody>
        </table>
      </div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
