<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Hours Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Zachary Waldron" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="BS4/css/mdb.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/fixes.css" rel="stylesheet" />
    <script src="scripts/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="js/app.js"></script>
    <script src="BS4/js/popper.min.js"></script>
    <script src="BS4/js/bootstrap.min.js"></script>
    <script src="BS4/js/mdb.min.js"></script>
    <link rel="stylesheet" href="../node_modules/fullcalendar/dist/fullcalendar.css" />
    <script src="../node_modules/fullcalendar/dist/gcal.js"></script>
    <script src="../node_modules/fullcalendar/dist/fullcalendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.8.2/combined/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.8.2/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="scripts/jsonhandler.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <script type="text/javascript" src="../bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/projects.js"></script>
    <!-- Insert this line after script imports -->
    <script>
        if (window.module) module = window.module;
    </script>
</head>

<body>
    <div class="modal fade" id="nlo-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        This page requires &quot;
                        <em>
                            <a href="login.ejs">logging in</a>
                        </em>&quot; to edit the project listings.
                    </p>
                    <hr />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="addnew-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addProj">Add Project</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-top navigation navbar navbar-toggleable-md navbar-expand-lg navbar-dark bg-light">
        <a class="navbar-brand text-dark" href="./index.ejs">Gannett Fleming</a>

        <button class="text-dark navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">
            &#9776;
        </button>
        <div class="collapse navbar-collapse justify-content-md-left navbar-toggleable-md" id="mainNavbarCollapse">
            <ul class="nav pull-lg-right navbar-nav mr-auto">
                <li class='nav-item active dropdown'>
                    <a href='./index.ejs' class='text-dark nav-link'>
                        <i class="fa fa-list-alt"></i> Overview</a>
                </li>
                <li class='nav-item dropdown'>
                    <a href='./login.ejs' class='text-dark login-link nav-link'>
                        <i class="fa fa-sign-in"></i> Login</a>
                </li>
                <li class='nav-item dropdown'>
                    <a class="text-dark nav-link nav-rotate hover" id="navbarDropdown1" data-target="#" href="/" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Personnel
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown1">
                        <li class='text-dark nav-item dropdown-header'>Personnel</li>
                        <li class='nav-item'>
                            <a class='text-dark hover nav-link' href='employees.ejs'>
                                <i class="fa fa-users"></i> Employees</a>
                        </li>
                        <li class='nav-item'>
                            <a class='text-dark hover nav-link' href='pto.ejs'>
                                <i class="fa fa-power-off"></i> PTO</a>
                        </li>
                        <li class='nav-item'>
                            <a class='text-dark hover nav-link' href='ooo.ejs'>
                                <i class="fa fa-address-card"></i> OOO</a>
                        </li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class='nav-link text-primary nav-rotate' id='navbarDropdown2' data-target='#' href='/' data-toggle='dropdown' aria-haspopup='true'
                        aria-expanded='false'>Projects
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class='dropdown-menu bg-light' aria-labelledby='navbarDropdown2'>
                        <li class='nav-item text-dark dropdown-header'>Projects</li>
                        <li class='nav-item'>
                            <a class='text-primary nav-link' href='projects.ejs'>
                                <i class='fa fa-cog' aria-hidden='true'></i> Projects &#9;

                            </a>
                        </li>
                        <li>
                            <a class='text-dark nav-link' href='milestones.ejs'>
                                <i class='fa fa-star' aria-hidden='true'></i> Milestones &#9;

                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <h3 class="text-right">Projects</h3>
                <hr />
                <button type="button" class="btn btn-success" id="newProject">
                    <i class="fa fa-building"></i> Add New Project</button>
                <hr />
                <!-- TODO: List Projects -->
                <div id="wrapper">
                    <table class="table table-striped table-bordered table-hover">
                        <caption>Current Projects</caption>
                        <thead class="thead">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">PM</th>
                                <th scope="col">Description</th>
                                <th scope="col">Active?</th>
                            </tr>
                        </thead>
                        <!--APPEND-->
                        <tbody id="p_list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>