@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
        font-family: 'Inconsolata', monospace;
}

img.img-responsive {
        width: 350px;
        height: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    background-color: transparent;
    border-radius: 10px;
    display: none;
}

.invalid_cal {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
.invalid_cal:focus {   
        border-color: rgba(229, 103, 23, 0.8);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
        outline: 0 none;
    }

#EndDate.hidden {
        display: none;
}

#EndDate2.hidden {
        display: none;
}

::-webkit-scrollbar-track-piece* {
   background: transparent url('../img/transparent.png') repeat !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparent url('../img/transparent.png') repeat !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}

@media only screen and (max-device-width: 640px) {
        .img-responsive {
                width: 100%;
                height: auto;
        }
}

.bg-light {
   color: #424242;
}
.navigation.left {
        border-right: 1px #96939D solid;
}

div.jumbotron {
        background: url("../img/engineer_bg.jpg") no-repeat center center;
        background-size:cover;
        background-attachment: fixed;
        /*#EE334E*/
        padding: 0;
        margin-top: 0px;
        margin-bottom: 0px;
}

.sticky-top {top:0em;}

.layer{
        margin: 0;
        width:100%; height: 100%;
        /* Fallback for web browsers that doesn't support RGBa */

background: rgb(238, 51, 78);
/* RGBa with 0.6 opacity */
background: rgba(238, 51, 78, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }

.navigation {
        margin-top: 0px;
        margin-bottom: 0px;
}

.special_n {
        padding: 0px;
        margin-top: 0px;

        margin-bottom: 0px;
}
